body {
    background-image: url("/OnlineQuiz/images/bg.jpg");
}

.container{
    width: 700px;
    margin: auto;
}

.content{
        background-color: white;
        min-height: 80vh;
}
.all{
    width: 663px;
    margin: auto;
}
.all p{
    margin: 0;
    padding-top: 2rem;
    padding-left: 2rem;
}